{% extends 'base/list.html' %}

{% block columns %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td> {{c.id}}</td>
            <td> {{c.nombre}}</td>
            <td class="text-center"> 
                <img src="{{c.get_image}}" alt="" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;">
            </td>
            <td>
                <a href="{% url 'zonaedit' c.id %}" type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'zonadelet' c.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    
{% endblock %}