{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'base/img/diseno.png' %}"
             alt="WispFlash Logo"
             class="brand-image"
             style="opacity: .9">
        <span class="brand-text font-weight-light">WispFlash</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'base/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        Dashboard
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Dashboard v1</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fas fa-shopping-cart"></i>
                          <p>Dashboard v2</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fas fa-truck-loading"></i>
                          <p>Dashboard v3</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-users"></i>
                      <p>
                         Clientes
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'clientelist' %}"  class="nav-link">
                          <i class="fas fa-users"></i>
                          <p> Clientes</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'serivcioslist' %}" class="nav-link">
                          <i class="fa fa-handshake"></i>
                          <p> Servicios</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="fas fa-file-invoice"></i>
                      <p>
                         Facturacion
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'sale_create' %}"  class="nav-link">
                          <i class="fas fa-file-invoice-dollar"></i>
                          <p> Crear factura estandar</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'sale_list' %}" class="nav-link">
                          <i class="fas fa-clipboard-list"></i>
                          <p> Listado de facturas</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Widgets
                        <span class="right badge badge-danger">New</span>
                      </p>
                    </a>
                  </li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="fas fa-server"></i>
                      <p>
                        Servidores
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'mikrolist' %}"  class="nav-link">
                          <i class="fas fa-server"></i>
                          <p> Mikrotik</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="fab fa-servicestack"></i>
                          <p> OLT'S</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'planeslist' %}" class="nav-link">
                          <i class="far fa-paper-plane"></i>
                          <p> Planes de navegacion</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'grupocortelist' %}" class="nav-link">
                          <i class="fas fa-grip-horizontal"></i>
                          <p> Grupos de corte</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="fas fa-map-marked-alt"></i>
                      <p>
                        Red
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'nodo_list' %}"  class="nav-link">
                          <i class="fas fa-network-wired"></i>
                          <p> Nodos</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'torres_list' %}"  class="nav-link">
                          <i class="fas fa-broadcast-tower"></i>
                          <p> Torres</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'accespoint_list' %}" class="nav-link">
                          <i class="fas fa-wifi"></i>
                          <p> Access Point</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'zonaslist' %}" class="nav-link">
                          <i class="fas fa-map-marker-alt"></i>
                          <p> Zonas</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link">
                          <i class="fas fa-map"></i>
                          <p> Mapa de red</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-circle nav-icon"></i>
                      <p>Level 1</p>
                    </a>
                  </li>
            </ul>
        </nav>
    </div>
</aside>
