{% extends 'base/list.html' %}
{% load static %}

{% block head-list %}

    <!-- jquery ui -->
    <link href="{% static 'base/lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'base/lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- Selec 2 -->
    <link href="{% static 'base/lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'base/lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'base/lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'base/lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'facturacion/js/formfact.js' %}"></script>
    <!-- lib moment and tempus -->
    <script src="{% static 'base/lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'base/lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link href="{% static 'base/lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}" rel="stylesheet"/>
    <!-- touchpin -->
    <link href="{% static 'base/lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'base/lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- hola desde SALE -->
{% endblock head-list %}
{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
        </div>
        {% if aviso  %}
        <div id="aviso-container" class="alert alert-success alert-dismissible">
            <h5><i class="icon fas fa-check"></i> {{aviso}}</h5>
        </div>
        
        <script>
            // Ocultar el aviso después de 2 segundos
            setTimeout(function() {
                document.getElementById("aviso-container").style.display = "none";
            }, 2000);
        </scrip>
        {% endif %}
        <div class="card-body">
            <div class="row">        
                <div class="col-lg-8">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"> Detalle de factura <i class="fas fa-boxes"></i></h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador de productos</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="search_productos" placeholder="Ingrese una descripcion" autocomplete="off">
                                    <span class="input-group-append">
                                    <button type="button" class="btn btn-info btn-flat"><i class="fas fa-times"></i></button>
                                    </span>
                                </div>
                                <hr>
                                <table class="table table-bordered" id="tblProductos">
                                    <thead>
                                        <tr>
                                            <th>Eliminar</th>
                                            <th>Producto</th>
                                            <th>PVP</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"> Datos de factura <i class="fas fa-shopping-cart"></i></h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="form-group">
                                <label>Fecha de la venta:</label>
                                {{ form.date_joined }}
                            </div>
                            
                            <div class="form-group">
                                <label>Cliente:</label>
                                {{ form.cliente}}                                
                            </div>
                            <div class="form-group">
                                <label>subtotal:</label>
                                {{ form.subtotal}}                                
                            </div>
                            <div class="form-group">
                                <label>IVA:</label>
                                {{ form.iva}}                                
                            </div>
                            <div class="form-group">
                                <label>IVA Calculado:</label>
                                <input type="text" class="form-control" readonly="true" name="ivacalc" value="0.00">                               
                            </div>
                            <div class="form-group">
                                <label>Total:</label>
                                {{ form.total}}                                
                            </div>
                            
                        </div>
                </div>
            </div>
        </div>   
    </div>
        <div class="card-footer">
            <a href="{{create_url}}" class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Nuevo registro
            </a>
            <a href="" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> cancelar
            </a>
        </div>
    </div>
{% endblock %}