{% extends 'base/vtc/body.html' %}

{% block content %}
<div class="card-body">
    <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">¿Deseas deshabilitar este servicio {{servicio.nombre}}?</h3>
        </div>
        
        <form method="post"  enctype="multipart/form-data">
            
            <input type="hidden" name="action" value="{{action}}">
            {% csrf_token %}
            {% if form.errors  %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error al guardar el registro</h5>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            <div class="card-body">
                <div class="form-group">
                    <label >Cliente</label>
                    <div class="alert alert-info alert-dismissible">
                        {{servicio.cli}}
                    </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Nombre servicio - Direccion</label>
                <div class="alert alert-info alert-dismissible">
                    {{servicio.nombre}}
                    {{ form }}
                </div>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Direccion IP</label>
                <div class="alert alert-info alert-dismissible">
                    {{servicio.ip_remote}}
                </div>
                </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btnTest">
                         Aplicar
                    </button>
                    <a href="{{list_url}}" class="btn btn-primary btn-flat btnTest">
                         Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">
    {% if form.errors  %}
    var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
    
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
    {% endif %}

    $('form').on('submit', function(e){
        var content = "{{content_jqueryConfirm}}"
        var urlpathlist = "{{list_url}}"
        var parameters = new FormData(this);
        e.preventDefault();
        envio_withajax(parameters,content, urlpathlist)
    });
</script>
{% endblock %}